<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD1SlzwaYMFWrlWUY2AswkiHt_EbHLqMYQ</string>
	<key>GCM_SENDER_ID</key>
	<string>626276960343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.taskify</string>
	<key>PROJECT_ID</key>
	<string>taskify-dd431</string>
	<key>STORAGE_BUCKET</key>
	<string>taskify-dd431.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626276960343:ios:f0697c99ea5f6554c4fb12</string>
</dict>
</plist>